[Unit]
Description=Scare Deer Camera
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/scare-deer/scare-deer/camera
ExecStart=/opt/scare-deer/scare-deer/camera/.camera_env/bin/python /opt/scare-deer/scare-deer/camera/camera_job.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target