[Unit]
Description=Scare Deer Camera
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/lag/repos/scare-deer/camera
ExecStart=/home/lag/repos/scare-deer/camera/venv/bin/python capture.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target