[Unit]
Description=Scare Deer Analysis
After=multi-user.target
BindsTo=deer_scare_camera.service

[Service]
Type=simple
WorkingDirectory=/opt/scare-deer/scare-deer/analysis
ExecStart=/opt/scare-deer/scare-deer/analysis/.analysis_env/bin/python /opt/scare-deer/scare-deer/analysis/analysis_job.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target